{% load staticfiles %}
<html>
<head>
	<title>Word Sense Disambiguation</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/helo.css' %}">
</head>
  

<body>
	<div>
            <h1">Word Sense Disambiguation</h1>
     </div>

     <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
   	</div>
<!--<form method="POST" action="wsd">
		<table>
			<tr>
				<td>Sentence</td>
				<td></td>
				<td>:</td>
				<td><input type="text" name="dept" value=""/>
			</tr>
			<tr>
				<td>Ambiduous_Word</td>
				<td style="color:red;">*</td>
				<td>:</td>
				<td><input type="text" name="wh" value="" required/>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><input type="submit" name="Submit" value="Find Meaning"/>
			</tr>
		</table>
		</form>
-->
</body>
</html>